body{
        background: url(../images/bg_tiza.jpg);
        background-size: cover;
        background-position: center;
    
}

#contenidoPrincipal{
    background: rgba(255,255,255,0);
}

#hola{
    background-color: #004db6;
}
